[submodule "roles/nginx"]
	path = roles/nginx
	url = git@github.com:mcattin-Coexya/ansible_role_nginx.git
[submodule "roles/webapp"]
	path = roles/webapp
	url = git@github.com:mcattin-Coexya/ansible_role_webapp.git
